<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {# Ceci est un commentaire Mais attention ! c'est un commentaire Twig Donc il n'apparaît pas dans le HTML ;-) #} {% for e in editeurs %}
            <tr>
                <td>{{e.nom}}</td>
                <td>{{e.pays}}</td>
                <td>
                    <a href="{{ path('app_editeurs_delete', {id: e.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr ?')">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>

                    <a href="{{ path('app_editeurs_update', {id: e.id}) }}" class="btn btn-warning">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>

                    <a href="{{ path('app_editeurs_details', {id: e.id}) }}" class="btn btn-info">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td colspan="3">
                    <a href="{{ path('app_editeurs_create') }}" class="btn btn-success">
                        <i class="fa fa-plus" aria-hidden="true"></i> Créer un nouvel éditeur</a>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>